body {
    font-family: 'Poppins', sans-serif;
    font-size: 0.88rem;
    background: #f6f6f9;
    user-select: none;
    color: #363949;
}

header {
    display: flex;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    justify-content: space-between;
    height: 1cm;
    padding: 1rem;
    background-color: white;
    font-size: 12px;
    /* box-shadow: 0 5px 5px rgba(132, 139, 200, 0.18); */
    color: #7d8da1;
}

header .logo {
    display: flex;
    align-items: center;
    gap: 0.5rem;
}

header .logo img {
    height: 1cm;
    width: 1cm;
}

header .nav {
    display: flex;
    align-items: center;
    gap: 0.5rem;
}

header .nav a {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 1rem;
    padding: 0 2rem;
    transition: 500ms;
    position: relative;
    color: rgba(28, 28, 28, 0.871);
}

header .nav a.active {
    background-color: #95afce3f;
}

header .nav a.active::before {
    content: "";
    background-color: #7380ec;
    position: absolute;
    top: 0;
    left: 0;
    height: 5px;
    width: 100%;
}

header .nav a:hover {
    padding-bottom: 1.5rem;
}

main .timetable{
    margin-top: 2rem;
}
main .timetable h2{
    margin-bottom: .8rem;
}
main .timetable table{
    background-color: #ffff;
    width: 100%;
    border-radius: 2rem;
    padding: 1.8rem;
    text-align: center;
    box-shadow: 0 2rem 3rem rgba(132, 139, 200, 0.18);
    transition: all 300ms ease;
}
main .timetable span{display: none;}
main .timetable table:hover{box-shadow: none;}
main table tbody td{
    height: 2.8rem;
    border-bottom: 1px solid rgba(132, 139, 200, 0.18);
    color: #677483;
}
main table tbody tr:last-child td{border: none;}

main .timetable.active{
    width: 100%;
    height: 100vh;
    position: fixed;
    top: 0;left: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
main .timetable.active h2{
    color: #363949;
}
main .timetable.active table{
    width: 90%;
    max-width: 1000px;
    position: relative;
}
main .timetable.active span{
    display: block;
    font-size: 2rem;
    color: #363949;
    cursor: pointer;
}
.timetable div{
    position: relative;
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
main .timetable.active .closeBtn{
    position: absolute;
    top: 5%;right: 5%;
}

.community {
    position: fixed;
    bottom: 20px;
    right: 20px;
    z-index: 1000;
    background-color: rgba(85, 76, 192, 0.795);
    color: #fff;
    width: 75px;
    height: 75px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 24px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2);
    cursor: pointer;
}

.community:hover {
    background-color: rgba(85, 76, 192, 0.795);
}